[package]
name = "sdl2test"
version = "0.1.0"
edition = "2021"

[dependencies]
sdl2 = { version = "0.37.0", features = ["image", "ttf"] }
glob = "0.3.1"

[build-dependencies]
glob = "0.3.1"

[profile.release]
opt-level = 3
codegen-units = 1
lto = "fat"
panic = "abort"
strip = true
